body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 245, 245);
  font-family: sans-serif;
}
.container {
  h3 {
    text-align: center;
    background-color: red;
    padding: 15px;
    border-radius: 10px;
    color: rgb(163, 114, 209);
  }
  width: 80%;
  margin: 0 auto%;
  margin-top: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0.5);
}
.form-group input[type="text"],
select {
  width: 100%;
  margin: 3px auto;
  height: 20px;
  border-radius: 5px;
  border: 0.2px solid;
  padding: auto;
}
.form-group label {
  margin-bottom: 50px;
  font-weight: bold;
}
.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sent {
  width: 30%;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin-right: 30px;
}
.reset {
  width: 30%;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
label[for="check"],
.gr-radio label {
  font-weight: normal;
}
input:hover {
  border-color: 2px;
}
/* --------------end-------------- */
.container-end {
  h1 {
    text-align: center;
    background-color: yellow;
    padding: 15px;
    border-radius: 10px;
    color: rgb(163, 114, 209);
  }
  width: 90%;
  margin: 0 auto%;
  margin-top: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0.5);
}
